@keyframes sasha {
  0% {
    left: 0px;
    top: 0px;
  }

  10% {
    top: 0px;
    left: calc(100% - 50px);
  }

  17% {
    top: 150px;
    left: calc(100% - 50px);
  }

  24% {
    left: 0px;
    top: 150px;
  }

  32% {
    top: 300px;
    left: 0px;
  }

  38% {
    left: calc(100% - 50px);
    top: 300px;
  }

  45% {
    top: 450px;
    left: calc(100% - 50px);
  }

  53% {
    top: 450px;
    left: 0px;
  }

  59% {
    top: 600px;
    left: 0px;
  }

  66% {
    top: 600px;
    left: calc(100% - 50px);
  }
  
  73% {
    top: 750px;
    left: calc(100% - 50px);
  }

  80% {
    top: 750px;
    left: 0px;
  }

  87% {
    top: 900px;
    left: 0px;
  }

  100% {
    top: 900px;
    left: calc(100% - 50px);
  }
}




.animation-sheet {
  position: relative;
  height: 1000px;
  background-color: $section-bgcolor;

  &:hover {
    .animation-box {
      animation-name: sasha;
      animation-duration: 15s;
      animation-timing-function: linear;
      animation-iteration-count: 1;
    }
  }
}

.animation-box {
  background-color: green;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 0;
}



// @keyframes sasha {
//   0% {
//     left: 0;
//   }

//   50% {
//     left: calc(50% - 50px);
//   }

//   100% {
//     left: calc(100% - 50px);
//   }
// }



// @keyframes sasha {
//   from {
//     left: 0;
//   }

//   to {
//     left: calc(100% - 150px);
//   }
// }



//  /* animation-iteration-count: (1,2,3,infinite) - seteaza de cate ori se va repeta animatia */
//  animation-iteration-count: 1;
//  /* animation-direction: seteaza directia animatiei
//    normal(d) - de la "from" la "to" si iar de la inceput
//    reverse - de la "to" la "from" si iar de la capat
//    alternate - de la "to" la "from" apoi inapoi la "to"
//    alternate-reverse - de la "from" la "to" apoi inapoi la "from"
//  */
//  animation-direction: normal;
//  /* animation-fill-mode: permite stilurilor din keyframe sa fie aplicate sau nu in afara animatiei (inainte de a incepe sau dupa ce a terminat)
//    none(d) - nici un stil dinnauntru la keyframe nu se va aplica in afara animatiei
//    forwards - stilurile de la ultimul cadru vor ramane in continuare aplicate dupa ce animatia s-a sfarsit
//    backwards - stilurile de la primul cadru vor fi aplicate inca inainte ca animatia sa inceapa
//    both - stilruile la primul cadru is aplicate inainte de animatie si cele din ultimul cadru - dupa animatie
//  */
//  animation-fill-mode: none;
//  /* animation-play-state: porneste sau opreste animatia
//    paused - animatia este oprita
//    running(d) - animatia este pornita
//  */
//  animation-play-state: running;