.topbar {
  position: absolute;
  left: 230px;
  top: 0px;
  width: 1670px;
  height: 96px;
  margin: 0 auto;
  border-bottom: $sidebar-borders;
}


.input-container {
  float: left;
  padding-left: $space-from-side;
  padding-top: 27px;
  position: relative;
}

.search-bar {
  color: $text-color1;
  font-size: 14px;
  line-height: 17px;
  width: 275px;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 20px;
  padding-right: 37px;
  border: 1px solid #BCBCBC;
  box-sizing: border-box;
  border-radius: 21px;
}


.search-bar::placeholder {
  color: #B6B6B6;
}


.input-icon {
  position: absolute;
  right: 20px;
  bottom: 12px;
}

.top-resolution-icons {
  float: right;
  margin-right: 66px;
}


.desktop {
  float: right;
  margin-top: 30px;
}

.laptop {
  float: right;
  margin-top: 33px;
  margin-right: 17px;
}

.tablet {
  float: right;
  margin-top: 36px;
  margin-right: 28px;
}

.phone {
  float: right;
  margin-top: 44px;
  margin-right: 38px;
}