$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "../fonts" !default;

$icon-steam2: "\eaad";
$icon-wordpress: "\eab4";
$icon-tumblr2: "\eaba";
$icon-finder: "\eabf";
$icon-windows8: "\eac2";
$icon-soundcloud2: "\eac4";
$icon-skype: "\eac5";
$icon-linkedin: "\eac9";
$icon-paypal: "\ead8";
$icon-html-five: "\eae4";

$bg-color1: #FFFFFF;

$space-from-side: 56px;

$text-color1: #3B3D40;

$text-color2: #0D3268;

$main-text-color: #333333;

$side-button-clicked-color: #F59A2C;

$border-color1: #EEEEEE;

$side-button-font-size: 16px;

$side-button-display-settings: inline-block;

$sidebar-borders: 1px solid $border-color1;


$side-button-left: 24px;

$dropdown-text-color1: #838D8F;

$dropdown-bgcolor: #F9F9F9;

$section-bgcolor: #F8F8F8;

$tablet: 768px;

$desktop: 1200px;