
.gradient-col-content {
  height: 200px;
}




// .gradient-perfect-box {
//   width: calc(25% - 15px);
//   float: left;
//   margin-right: 20px;

//   &::before {
//     content: "";
//     display: block;
//   }
// }

// @media (orientation: landscape) {
//   .gradient-perfect-box::before {
//     padding-top: 100%;
//   }
// }


// @media (orientation: portrait) {
//   .gradient-perfect-box::before {
//     padding-top: 100%;
//   }
// }

.gradient-box-1 {
  background: rgb(255,0,0);
  background: linear-gradient(90deg, rgba(255,0,0,1) 0%, rgba(255,64,0,1) 31%, rgba(255,248,0,1) 55%, rgba(65,255,0,1) 81%);
}

.gradient-box-2 {
  background: rgb(0,1,255);
  background: linear-gradient(90deg, rgba(0,1,255,1) 0%, rgba(255,0,0,1) 31%, rgba(99,255,0,1) 55%, rgba(236,255,0,1) 81%);
}

.gradient-box-3 {
  background: rgb(255,98,0);
  background: linear-gradient(90deg, rgba(255,98,0,1) 0%, rgba(0,255,98,1) 31%, rgba(89,0,255,1) 55%, rgba(255,0,0,1) 81%); 
}

.gradient-box-4 {
  background: rgb(139,90,60);
  background: linear-gradient(90deg, rgba(139,90,60,1) 0%, rgba(65,189,112,1) 31%, rgba(125,100,145,1) 55%, rgba(182,164,126,1) 81%);
}

.gradient-box-5 {
  background: rgb(134,109,113);
  background: linear-gradient(90deg, rgba(134,109,113,1) 0%, rgba(157,146,193,1) 31%, rgba(15,4,24,1) 55%, rgba(155,237,125,1) 81%);
}

.gradient-box-6 {
  background: rgb(68,67,52);
  background: linear-gradient(90deg, rgba(68,67,52,1) 0%, rgba(209,4,180,1) 31%, rgba(84,100,187,1) 55%, rgba(187,237,231,1) 81%);
}

.gradient-box-7 {
  background: rgb(68,67,52);
  background: linear-gradient(90deg, rgba(68,67,52,1) 0%, rgba(154,121,58,1) 31%, rgba(79,56,64,1) 55%, rgba(45,115,149,1) 81%);  
}

.gradient-box-8 {
  background: rgb(105,182,174);
  background: linear-gradient(90deg, rgba(105,182,174,1) 15%, rgba(46,38,24,1) 36%, rgba(199,30,96,1) 59%, rgba(54,34,13,1) 79%);
}

.gradient-box-9 {
  background: rgb(105,182,174);
  background: linear-gradient(90deg, rgba(105,182,174,1) 15%, rgba(59,131,100,1) 36%, rgba(30,199,160,1) 59%, rgba(41,135,157,1) 79%);
}

.gradient-box-10 {
  background: rgb(2,27,24);
  background: linear-gradient(90deg, rgba(2,27,24,1) 15%, rgba(87,46,102,1) 36%, rgba(181,175,217,1) 59%, rgba(213,185,237,1) 79%);
}

.gradient-box-11 {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 15%, rgba(223,39,83,1) 48%, rgba(92,70,10,1) 77%, rgba(97,156,199,1) 100%);
}

.gradient-box-12 {
  background: rgb(255,143,170);
  background: linear-gradient(90deg, rgba(255,143,170,1) 8%, rgba(0,0,0,1) 36%, rgba(71,89,99,1) 63%, rgba(125,34,120,1) 83%, rgba(69,185,45,1) 100%);
}

.gradient-box-13 {
  background: rgb(255,143,170);
  background: linear-gradient(90deg, rgba(255,143,170,1) 8%, rgba(236,228,138,1) 36%, rgba(62,58,164,1) 63%, rgba(101,20,45,1) 83%);
}

.gradient-box-14 {
  background: rgb(242,20,20);
  background: linear-gradient(90deg, rgba(242,20,20,1) 9%, rgba(118,131,103,1) 29%, rgba(89,0,105,1) 51%, rgba(217,255,246,1) 75%);
}

.gradient-box-15 {
  background: rgb(226,245,204);
  background: linear-gradient(90deg, rgba(226,245,204,1) 10%, rgba(230,141,141,1) 40%, rgba(96,156,27,1) 70%, rgba(12,186,145,1) 90%);
}

.gradient-box-16 {
  background: rgb(130,128,130);
  background: linear-gradient(90deg, rgba(130,128,130,1) 10%, rgba(9,196,5,1) 40%, rgba(144,95,144,1) 65%, rgba(168,4,35,1) 83%);
}

.gradient-box-17 {
  background: rgb(150,65,91);
  background: linear-gradient(90deg, rgba(150,65,91,1) 10%, rgba(141,145,217,1) 40%, rgba(244,122,0,1) 65%, rgba(255,221,152,1) 83%);
}

.gradient-box-18 {
  background: rgb(254,199,127);
  background: linear-gradient(90deg, rgba(254,199,127,1) 10%, rgba(255,248,0,1) 40%, rgba(109,166,160,1) 65%, rgba(119,74,179,1) 83%);
}

.gradient-box-19 {
  background: rgb(255,255,230);
  background: linear-gradient(90deg, rgba(255,255,230,1) 10%, rgba(171,223,169,1) 40%, rgba(159,135,255,1) 65%, rgba(249,80,205,1) 83%);
}

.gradient-box-20 {
  background: rgb(255,255,255);
  background: linear-gradient(90deg, rgba(255,255,255,1) 10%, rgba(105,56,92,1) 46%, rgba(3,43,161,1) 73%, rgba(0,0,0,1) 94%);
}